* {
  margin: 0;
  padding: 0;
  list-style-type: none !important ;
  text-decoration: none !important;
  box-sizing: border-box;
}
.accordion_border {
  border: 1.5px solid #212529 !important;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 10px;
  backdrop-filter: blur(15px) !important;
  max-width: 970px;
}

.accordion-button {
  background-color: transparent !important;
  color: black !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 25px !important;
  height: 25px !important;
  margin-left: auto;
  margin-right: 20px;
  content: "<";
  background-image: url("./assets/img/png/arrow.png") !important;
  background-size: cover !important;
  transform: rotate(90deg) !important;
}

.accordion-button:not(.collapsed) {
  border-color: transparent !important;
  box-shadow: unset !important;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(-90deg) !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.accordion-button:not(.collapsed) {
  color: #212529;
}

/* {{{{{{{{{{{{{{{{{{{{{{{{{Navbar}}}}}}}}}}}}}}}}}}}}}}}}}} */

.logo-btn {
  padding: 12px 20px;
  background-color: red;
  border: none;
}

.home-btn {
  width: 30px !important;
  height: 30px !important;
}

.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.cursor {
  cursor: pointer;
}

/* {{{{{{{{{{{{{{{{{{{{{{{{{Sidebar}}}}}}}}}}}}}}}}}}}}}}}}}} */
.side_show {
  position: absolute;
  left: -100%;
  width: 500px;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #aad77e !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: all 1000ms linear !important;
}

.nav_md {
  top: 0;
}

@media (max-width: 768px) {
  .nav_sm {
    position: absolute;
    top: -100%;
    width: 100%;
    left: 0;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all 500ms linear;
  }

  .nav_show {
    top: 0;
  }

  .overflow_hidden {
    overflow: hidden;
  }
}
