.accordion_border {
  border: 1.5px solid #212529 !important;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 10px;
  backdrop-filter: blur(15px) !important;
  max-width: 970px;
}

.accordion-button {
  background-color: transparent !important;
  color: black !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 25px !important;
  height: 25px !important;
  margin-left: auto;
  margin-right: 20px;
  content: "<";
  background-image: url("./assets/img/png/arrow.png") !important;
  background-size: cover !important;
  transform: rotate(90deg) !important;
}

.accordion-button:not(.collapsed) {
  border-color: transparent !important;
  box-shadow: unset !important;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(-90deg) !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.accordion-button:not(.collapsed) {
  color: #212529;
}
